<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextName>schema</contextName>
	
	<property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	
	<property name="TEST_FILE_PATH" value="D:/log/socket" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file></file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file></file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>${TEST_FILE_PATH}/request.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	
	<appender name="EXCEPTION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file></file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>${TEST_FILE_PATH}/request.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<logger name="REQUEST_LOGGER">
		<appender-ref ref="REQUEST_FILE"></appender-ref>
	</logger>
	
	<logger name="EXCEPTION_LOGGER">
		<appender-ref ref="EXCEPTION_FILE"></appender-ref>
	</logger>
	
	<root level="INFO">
		<appender-ref ref="FILE"></appender-ref>
		<appender-ref ref="CONSOLE"></appender-ref>
	</root>
</configuration>
